@media all and (max-width: 670px){
  header{
    max-width: 100%;
  }
  header li{
    font-size: 15px;
  }
  .top-wrapper{
    max-width: 100%;
  }
  .top-wrapper h1 {
    font-size: 60px;
  }
  .top-wrapper h3 {
    font-size: 45px;
  }
  .section-title{
    font-size: 20px;
  }
  .profile{
    flex-direction: column;
    display: inline-block;
  }
  .profile-image{
    margin: 0 auto;
  }
  .profile-text{
    margin: 0 auto;
  }
  .skills{
    flex-direction: column;
  }
  .skill{
    margin: 0 auto;
  }
  .contact-wrapper iframe{
    max-width: 100%;
    height: 800px;
  }
}
